TASKS_DATABASE_URL="postgresql://user:prisma@localhost:5432/db?schema=public"

# PostgreSQL settings
TASKS_POSTGRES_USER=user
TASKS_POSTGRES_PASSWORD=prisma
TASKS_POSTGRES_DB=db

# use $(openssl rand -hex 64) for generating jwt_secret
TASKS_JWT_SECRET="afhalhgoiahoiqweqw"